.botones{
    background-color: #FFC288;
    border-color:  #FF6701;
    border-style: solid;
    width: 100%
}

a:link{
    color: black
}

a:visited{
    color: black
}

.cabecera{
    background-color: #ff8801;
    text-align: center
}

td {
    text-align: center;
}
